.ex-headerAndFooter{
  height:40px;
  background-color: #4285f4;
  margin:1px 0 ;
  color:white;
}
.ex-content{
  background-color: lighten(#4285f4,10%);
  margin:1px 0 ;
  color:white;
}
.ex-aside{
  background-color: darken(#4285f4,10%);
  color: white;
  margin:1px 0 ;
  width: 100px;
}
.ex-aside+ .ex-content, .ex-aside+ .XM-Layout{
  margin-left:4px
}