.XM-Layout{
  display: flex;
  flex-direction: column;
  &-Content{
    flex-grow: 1;
  }
  // aside 在里面的类型
  .XM-Layout{
    display:flex;
    flex-direction: row;
    flex-grow: 1;

    &-Content{
      flex-grow: 1;
    }
  }
  // aside 在外部的类型
  &.hasAside{
    flex-direction: row;
    .XM-Layout {
      flex-direction: column;
    }
  }
}